name: CI/CD Pipeline

on:
  push:
    branches:
      - main  # Mude para o nome da sua branch principal, se necessário

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Login to Docker Hub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and push Docker image
      uses: docker/build-push-action@v2
      with:
        context: ./docker-app  # Alterado para apontar para o diretório correto
        file: ./docker-app/Dockerfile  # Alterado para o caminho correto do Dockerfile
        push: true
        tags: biancac133/hello-world-app:latest
